:root{
  --square-quantity: 1;
}

body {
  background-color: aqua;
  display: flex;
  justify-content: center;

}

#container-main{
 min-width: 500px;
 min-height: 900px;

}


#container-title-body-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#container-title {
  color: red;
}

.range-container{
display: flex;
align-items: center;
flex-direction: column;
}


input{
  width: 200px;
accent-color: red;
 
}

label{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.tooltip-container{
  display: flex;
  align-items: center;
  justify-content: center;
   border: 0;
   width: 40px;
   height: 25px;

}

.tooltip-squares{
  display: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  
}

#container-controls {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 20px;
}


button {
  text-decoration: none;
  background-color: yellow;
  box-shadow: 3px 3px 3px black;
  color: red;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  transition: 0.2s all;
}

button:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 3px black;
}

#container-body {
 max-width: 530px;
 max-height: 530px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;

}

.squares {
  background-color: white;
  border: 1px solid black;
  /*width: 16px;
  height: 16px;
  */
}
